{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        FAB.chは動画でモノづくりを学ぶサービスです
      </div>
      <div class="panel-body">
        当サイトを運営しているファブラボ鎌倉では3Dモデリングから電子工作、プログラミングまでデジタル工作機械を使ったモノづくりをするための方法を教えています。レーザー加工機や3Dプリンタといったデジタル工作機械を使ったモノづくりでは、機械の扱い方もさることながら、機械に渡すデータをつくるためのスキルが求められます。このスキルの習得には、ある程度時間をかける必要があるのですが、PCさえあれば、自宅で学ぶ事ができるので、より多くの方にデジタルファブリケーションを使ったモノづくりを学んでもらうために動画で学ぶオンラインサービスをはじめました。
      </div>
      <div class="panel-footer">
        
      </div>
    </div>
    

  </div>
</div>


{% endblock %}
